@model LoginViewModel

<div class="row" style="min-height: 40vh;">
<div class="col-12 d-flex align-items-center flex-column mb-5">
    <h4 class="text-center">Login</h4>
    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">


        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
             <input asp-for="UserName" class="form-control" />
             <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
                <input type="submit" class="btn btn-success" value="Log in" />
        </div>
    </form>
</div>
</div>