@model CarrinhoViewModel
@if (Model.Carrinho.CarrinhoItens.Count > 0)
{
    <a asp-controller="Carrinho" asp-action="Index">
        <span class="text-white">Carrinho</span>
        <span style="color:white">
           <i class="bi bi-cart-check-fill"></i> @Model.Carrinho.CarrinhoItens.Count
        </span>
    </a>
}